<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="author" content="Kodinger">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <title>Register</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="css/login.css">
  <link rel="shortcut icon" href="img/title.ico"/>
</head>
<body class="my-login-page">
  <section class="h-100">
    <div class="container h-100">
      <div class="row justify-content-md-center h-100">
        <div class="card-wrapper">
          <div class="brand">
            <img src="img/logo.jpg" alt="bootstrap 4 login page">
          </div>
          <div class="card fat">
            <div class="card-body">
              <h4 class="card-title">Register</h4>
              <%if (message){%>
                  <div class="alert alert-<%=color%> center"><%-message%></div>
                <% }%>
              <form method="POST" class="my-login-validation" novalidate="">

                <div class="form-group">
                  <label for="fname">First Name</label>
                  <input id="fname" type="text" class="form-control" name="fname" required>
                </div>

                <div class="form-group">
                  <label for="lname">Last Name</label>
                  <input id="lname" type="text" class="form-control" name="lname" required>
                </div>
                <div class="form-group">
                  <label for="email">E-Mail Address</label>
                  <input id="email" type="email" class="form-control" name="email" required>
                </div>
                <div class="form-group">
                  <label for="username">Username</label>
                  <input id="username" type="text" class="form-control" name="username" required autofocus>
                </div>

                <div class="form-group">
                  <label for="password">Password</label>
                  <input id="password" type="password" class="form-control" name="password" required data-eye>
                </div>
                <div class="form-group m-0">
                  <button type="submit" id="register" class="btn btn-primary btn-block">
                    Register
                  </button>
                </div>
                <div class="mt-4 text-center">
                  Already have an account? <a href="/admin">Login</a>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<script type="text/javascript">
  
(function(i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function() {
        (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
})(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');
ga('create', 'UA-139850820-1', 'auto');
ga('set', 'checkProtocolTask', function() {});
ga('require', 'displayfeatures');

$('#register').click(()=>{
  ga('send', 'event', {
    'eventCategory': 'SuperCS',
    'eventAction': 'Register',
    'eventLabel': 'register',
    'eventValue': 1
  });
})

</script>

</body>

</html>
